/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
  /*Main Content*/
  .banner-bg h1 {
    font-size: 28px;
  }
  .banner-bg p {
    font-size: 16px;
  }
  a {
    font-size: 12px;
  }
  /*Teams Content*/
  .team {
    width: 46%;
    margin: 15px 15px;
  }

  .team:active{
    position: relative;
    transform: translateY(-10px);
    box-shadow: 0px 20px 10px -5px #C4C4C4;
  }
  /*Message Content*/
  .message-form{ 
    max-width: 880px; 
  } 
  /*bagian footer*/
  .container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo logo"
                          "about follow";
    
    grid-column: 50% 50%;
    margin: 0 auto;
  }
  .container-footer *{
    margin: 0 auto;
  }
  .logo-footer{
    
    grid-area: logo;
  }
  .follow{
    
    grid-area: follow;
  }
  .about{
    
    grid-area:about;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  /*Header Content*/
    .navbar-menu{
  	display: none;
  }

  span.menu-icon{
    display: block;
  }
  
   /*Main Content*/
   .banner{
    text-align: left;
  }
  .banner-bg h1 {
    font-size: 22px;
    line-height: 36px;
  }
  
  .banner-bg p {
    font-size: 12px;
    line-height: 20px;
  }
  a {
    font-size: 10px;
    line-height: 20px;
  }

  /*Teams Content*/
  .team {
    width: 100%;
    margin: 15px 0;
  }
  
  /*Message Conten*/
  .message-form { 
    max-width: 550px; 
  } 
 
  .img { 
    display: none; 
  } 
 
  input[type=text], select, textarea { 
    width: 94%; 
  }

  /*Footer Content*/
   .container-footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  
  .list li{
    text-align: center;
  }
}
