/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
  /*Main Content*/
  .banner-bg h1 {
    font-size: 28px;
  }
  .banner-bg p {
    font-size: 16px;
  }
  a {
    font-size: 12px;
  }
  /*Teams Content*/
  .team {
    width: 46%;
    margin: 15px 15px;
  }

  .team:active{
    position: relative;
    transform: translateY(-10px);
    box-shadow: 0px 20px 10px -5px #C4C4C4;
  }
  /*Message Content*/
  .message-form{ 
    max-width: 880px; 
  } 
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  /*Header Content*/
  
   /*Main Content*/
   .banner{
    text-align: left;
  }
  .banner-bg h1 {
    font-size: 22px;
    line-height: 36px;
  }
  
  .banner-bg p {
    font-size: 12px;
    line-height: 20px;
  }
  a {
    font-size: 10px;
    line-height: 20px;
  }

  /*Teams Content*/
  .team {
    width: 100%;
    margin: 15px 0;
  }
  
  /*Message Conten*/
  .message-form { 
    max-width: 550px; 
  } 
 
  .img { 
    display: none; 
  } 
 
  input[type=text], select, textarea { 
    width: 94%; 
  }

  /*Footer Content*/
}