/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


/*Header Section*/
  header{
  background-color: black;
  height: 65px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.logo{
  width: 40px;
  margin: 10px 0;
}
.navbar-menu ul{
  margin: 0;
  padding: 10px;
  display: flex;
}
.navbar-menu li{
  list-style: none;
}
  
.navbar-menu li a{
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
  
.navbar-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

span.menu-icon{
  display: none;
  padding: 20px 0;
}

/*Main Section*/
.banner {
  padding: 190px 100px 0;
  background-image: url(https://prog-8.com/assets/about/home_careers_bg-9e1eed63110bab46f617955a90a8d3c15f1a4a28ac6a65d672a0ec9d9411935b.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.banner-bg h1 {
  font-size: 36px;
  margin-bottom: 35px;
}

.banner-bg p {
  opacity: 0.7;
  font-size: 18px;
  margin-bottom: 25px;
}

.explore{
  background-color:#C4C4C4;
}
a {
  text-decoration: none;
  font-size: 14;
}

.button {
  padding: 12px 40px;
  margin-bottom: 70px ;
  color: black;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 7px #C4C4C4;
}

.button:hover {
  opacity: 1;
}

.button:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*Teams Section*/
.teams{
  background-color: #F7F7F7;
}

.teams h1{
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.teams-card{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.team{
  width: 19%;
  padding: 30px 20px;
  margin: 10px 5px;
  background-color: #E8E8E8;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -5px #C4C4C4;
  transition: all 0.5s cubic-bezier(.56,-1.57,.35,2.57);
}

.team:hover{
  position: relative;
  transform: translateY(-10px);
  box-shadow: 0px 20px 10px -5px #C4C4C4;
}

.team-picture{
  margin: 0 auto;
}

.team-picture img{
  width: 115px;
  height: 115px;
  border-radius: 100%;
  margin: 0 auto;
}

.team-desc{
  margin-top: 15px;
}

.team-desc h2{
  font-size: 18px;
}

.team-desc h3{
  font-size: 14px;
  font-weight: 500;
}

.desc-name{
  height: 85px;
}

.desc-main p{
  font-size: 12px;
}

/*Message Section*/
.message { 
  background-color: #010D1C; 
  padding-top: 4%; 
  padding-bottom: 4%; 
  padding-right: 5%; 
  padding-left: 5%; 
} 
 
.message-form{ 
  max-width: 1170px; 
  width: 100%; 
  padding-left: 10px; 
  margin: 0 auto; 
  background-color: #FFFFFF; 
  border-radius: 20px; 
  position: relative; 
} 
 
.section-title { 
  padding-top: 15px; 
  margin-left: 5px; 
} 
 
input[type=text], select, textarea { 
  width: 35%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  resize: vertical; 
  background-color: #c4c4c4; 
  margin: 5px; 
} 
 
.btn{ 
  padding: 12px 24px; 
  color: white; 
  display: inline-block; 
  opacity: 0.8; 
  border-radius: 20px; 
  text-align: center; 
  margin-left: 5px; 
  margin-bottom: 15px; 
} 
 
.btn:hover { 
  opacity: 1; 
} 
 
.submit{ 
  padding: 10px 30px; 
  background-color: #228BEB; 
  cursor: pointer; 
  box-shadow: 0 7px #84a5c5; 
} 
 
.submit:active { 
  position: relative; 
  top: 7px; 
  box-shadow: none; 
} 
 
.img { 
  position: absolute;
  float: right; 
  right: 5%;
  top: 0; 
}

/*Footer Section*/
footer{
  background-color: black;
  color:white;
}

.container-footer{
  max-width: 1170px; 
  display: grid;
  grid-template-columns: 3fr 1fr 1fr ;
  grid-gap: 40px;
  margin:0 auto;
  padding:100px 0;
  
}

.logo-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.logo-footer img{
  width: 100px;
}

.logo-text{
  text-align: center;
  margin-top:20px;
}

.title{
  font-size:22px;
}

.list li{
  cursor: pointer;
  list-style: none;
  margin-top: 20px;
  font-size: 18px;
  transition: all ease 0.5s;
}

.copyright hr{
  width: 90%;
  border: 1px thin white;
}

.copyright h6{
  font-size: 18px;
  text-align: center;
  font-weight: 50;
  padding: 30px 0;
}

.list li:hover{
  color: rgb(245, 221, 7);
  transition: all ease 0.5s;
}
/* Ketik code Anda dibawah */
